@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.primary-container {
  height: calc(80vh - (theme('spacing.3') * 2));
}

.fullheight-player .primary-container {
  height: 100vh;
}

.stream-container {
  height: calc(20vh + (theme('spacing.3') * 2));
}

.btn {
  @apply focus:ring-2 outline-none border-2 rounded-sm;
}

.btn-sidebar {
  @apply btn px-2 py-1 mx-3 my-1;
}

.btn-sidebar-followed {
  @apply mx-4 my-2;
}

.btn-txt {
  cursor: pointer;
}

.sidebar-stream-name {
  @apply mr-2 text-sm font-bold overflow-ellipsis overflow-hidden;
  max-width: theme('spacing.28');
}

.sidebar-stream-title {
  @apply text-xs overflow-ellipsis overflow-hidden whitespace-nowrap;
  max-width: theme('spacing.36');
}

.sidebar .btn-txt {
  display: none;
}

.sidebar.open .btn-txt {
  display: unset;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.scrollbar-width-thin {
  /* https://caniuse.com/css-scrollbar */
  scrollbar-width: thin;
}

.explainer p {
  @apply mb-4;
}
