@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.primary-container {
  height: 80vh;
}

.stream-container {
  max-height: 20vh;
}

.btn {
  @apply focus:ring-2 outline-none border-2 rounded-sm;
}

.btn-sidebar {
  @apply btn px-2 py-1 m-3;
}
